<body>
  <div [className]="'main'">
    <div [className]="'title'">
      <span>
        <h1 [className]="'name'">Javier Treviño De la Cruz</h1>
        <img src="/assets/pp.jpeg" [className]="'pp'"/>
      </span>
    </div>
    <table>
      <tr>
        <th [className]="'contacto'">
          <div>
            <div>
              <h2>Contacto</h2>
            </div>
            <div>
              <p>Celular: 8119175508</p>
              <p>Correo: A00828901@tec.mx</p>
            </div>
          </div>
        </th>
        <th [className]="'educacion'">
          <div>
            <div>
              <h2>Educación</h2>
            </div>
            <div>
              <p>Ingeniería en Tecnologías Computacionales - Tec de Monterrey</p>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th [className]="'trabajos'">
          <div>
            <div>
              <h2>Trabajos</h2>
            </div>
            <div>
              <p>Community Manager - Inmobiliaria</p>
            </div>
          </div>
        </th>
        <th [className]="'lenguajes'">
          <div>
            <div>
              <h2>Lenguajes</h2>
            </div>
            <div>
              <p>Swift, C++, JavaScript y Python</p>
            </div>
          </div>
        </th>
      </tr>
    </table>
  </div>
</body>
